{% extends "store/base.html" %}
{% load static %}
{% block content %}
<legend class = 'border-bottom mb-4'>About</legend>
	<br>

	<h3 style="font-family: 'georgia';">This is a simple Sales Web App where you can shop at ease and deliver the products wherever you want!</h3>
	<br>
	<br>


	<h3 style="font-family: 'georgia';">If you don't have an account yet please register!</h3>
	<br>
	<br>

	<h3 style="font-family: 'georgia';">If you do have an account, sign up now!</h3>
	<br>
	<br>



	<h3 style="font-family: 'georgia';">Don't forget to check our available <a href="{% url 'store-products' %}">products</a>!</h3>
	
{% endblock content %}