{% extends "store/base.html" %}
{% load static %}
{% block content %}

	<h1 class="title" >About!</h1>
	<br>
	<br>

	<h1>This is a simple Sale Web App where you can shop at ease and deliver the products wherever you want!</h1>
	<br>
	<br>


	<h1>If you don't have an account yet please register!</h1>
	<br>
	<br>

	<h1>If you do have an account, sign up now!</h1>
	<br>
	<br>



	<h1>Don't forget to check our available <a href="{% url 'store-products' %}">products</a>!</h1>
	
{% endblock content %}




<!-- <!DOCTYPE html>
<html>
<head>
	<title>About Page!</title>
</head>
<body>
	<h1>About!</h1>
</body>
</html> -->