{% extends "store/base.html" %}
{% load static %}
{% block content %}
<legend class = 'border-bottom mb-4'>Contact</legend>

<span style= font-family:'georgia';">Get in touch with us for any inquiries:</span>
<br>
<br>
    <div >
        <div >
            <div >Christophe Saab</div>
            <ul>
                <li>Phone: <span>+961 71 483384</span></li>
                <li>Email: <span>cas30@mail.aub.edu</span></li>
            </ul>
        </div>
        <div >
            <div >Karam Hasan</div>
            <ul>
                <li>Phone: <span>+961 78 814068</span></li>
                <li>Email: <span>kfh08@mail.aub.edu</span></li>
            </ul>
        </div>
        <div >
            <div >Kabalan Keirouz</div>
            <ul>
                <li>Phone: <span>+961 3 370006 </span></li>
                <li>Email: <span>ksk17@mail.aub.edu</span></li>
            </ul>
        </div>
                <div >
            <div >Majd El Harake</div>
            <ul>
                <li>Phone: <span>+961 71 161457 </span></li>
                <li>Email: <span>mbe24@mail.aub.edu</span></li>
            </ul>
        </div>
                <div >
            <div >Samer Al Sharif</div>
            <ul>
                <li>Phone: <span>+961 71 221229 </span></li>
                <li>Email: <span>saa153@mail.aub.edu</span></li>
            </ul>
        </div>
    </div>
    </div>
    </div>
{% endblock content %}