{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Store Name</title>
	<link rel="stylesheet" type="text/css" href="{% static 'store/style.css' %}">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,300&display=swap" rel="stylesheet">
</head>
<body>

	<div class="header">

	<div class="container">
		<div class="navbar">
		<div class="logo">
			<!-- images/logo.png -->
			<img src="{% static 'store/images/logo.png' %}" width="125px">
		</div>
		<nav>
			<ul>
				<li><a href="">Home</a></li>
				<li><a href="">Products</a></li>
				<li><a href="">About</a></li>
				<li><a href="">Contact</a></li>
				<li><a href="">Account</a></li>
			</ul>
		</nav>
		<img src="{% static 'store/images/cart.png' %}" width="30px" height="30px">
	</div>
	<div class="row">
		<div class="col-2">
			<h1>Give Your Workout<br> A New Style! </h1>
			<p>bla bla bla bla bla bla bla lb alb a</p>
			<a href="" class="btn">Explore Now &#10132;</a>
		</div>
		<div class="col-2">
			<img src="{% static 'store/images/image1.png' %}">
		</div>
	</div>
	</div>
</div>






</body>
</html>