
{% extends "store/base.html" %}
{% load static %}
{% block content %}

<legend class = 'border-bottom mb-4'>Products</legend>

<form method="GET">
	<label>Sort products by price</label><br>
	<input type="radio" name="sort" value="price"> Lowest to Highest <br>
	<input type="radio" name="sort" value="-price"> Highest to Lowest<br>
	<input type="submit" value="Sort" style="width: 60px;"></form>
</form>
<div style="display: grid; grid-template-columns: auto auto auto; row-gap: 30px; text-align: center;">

	{% for product in products %}

		<div class="product_pic">
			<h2>{{product.name}}</h2>
			<a href="#">
				<img src="{{product.image.url}}" >
			</a>
			<h2>{{product.price}} L.L</h2>
			<button onclick="location.href='{% url 'cart_add' product.id %}'">Add to Cart</button>
		</div>

	{% endfor %}
</div>

{%  endblock %}

